html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'cabinregular', 'sans-serif';
  font-weight: 300;
  font-size: 14pt; }

h1 {
  font-weight: 400;
  font-size: 2.2em;
  padding: 25px 0 25px 0;
  font-family: 'phitradesign_inkregular', 'sans-serif';
  color: #FF7B3F; }

h2 {
  font-weight: 300;
  font-family: 'phitradesign_inkregular', 'sans-serif';
  font-size: 1.5em; }

@font-face {
  font-family: 'phitradesign_inkregular';
  src: url("../fonts/phitradesign_ink-webfont.woff2") format("woff2"), url("../fonts/phitradesign_ink-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'cabinregular';
  src: url("../fonts/cabin-regular-webfont.woff2") format("woff2"), url("../fonts/cabin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.header .logo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  padding: 0;
  width: 100%; }
  .header .logo .logo-child {
    -ms-flex-positive: 2;
        flex-grow: 2;
    max-width: 500px;
    height: auto; }
    .header .logo .logo-child img {
      width: 100%; }

.header .frise {
  max-height: 302px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  background-color: #4D5150; }
  .header .frise img {
    max-width: 1920px;
    width: 100%;
    max-height: 302px; }

.header .text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }

.menu {
  height: 60px;
  background-color: #4d5150;
  border-bottom: 2px solid #FF7B3F; }
  .menu a {
    color: white;
    text-decoration: none;
    padding: 18px; }
    .menu a:hover {
      background-color: #FF7B3F; }
  .menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 60px;
    text-align: center; }
  .menu li {
    cursor: pointer;
    display: inline;
    color: white;
    line-height: 60px;
    height: 100%; }
    .menu li .active {
      background-color: #FF7B3F; }

.content {
  width: 100%;
  max-width: 90% !important;
  padding: 0 50px 0 250px;
  margin: 50px auto 50px auto;
  background-repeat: repeat-y; }
  .content .tract {
    text-align: center; }
    .content .tract img {
      width: 100%;
      max-width: 650px; }
  .content h1, .content h2 {
    text-align: center; }
  .content p {
    text-align: justify; }
  .content:after {
    content: "";
    display: block; }
  .content table {
    width: 100%; }
    .content table > * {
      text-align: center; }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 35px;
  background-color: #334246;
  border-top: 2px solid #FF7B3F;
  color: white;
  font-size: 0.8em;
  line-height: 35px;
  text-align: center; }

.content-metiers {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 50px 0 50px; }
  .content-metiers::after {
    clear: both;
    content: "";
    display: table; }
  .content-metiers .photos {
    text-align: center; }
    .content-metiers .photos table {
      width: 90%;
      text-align: center;
      margin: auto; }
    .content-metiers .photos img {
      max-width: 250px; }
  .content-metiers .metiers {
    text-align: center;
    margin: 50px auto 0px auto;
    padding-bottom: 80px;
    width: 100%;
    cursor: pointer; }
    .content-metiers .metiers a {
      color: black;
      text-decoration: none; }
      .content-metiers .metiers a:hover {
        color: white; }
    .content-metiers .metiers td:hover {
      background-color: #FF7B3F; }
    .content-metiers .metiers img {
      height: 80px; }
  .content-metiers .metier {
    position: relative;
    border: 1px solid #334246;
    padding: 20px;
    margin-bottom: 20px; }
    .content-metiers .metier h1, .content-metiers .metier h2 {
      text-align: left;
      margin: 0; }
    .content-metiers .metier h3 {
      margin: 10px 0 5px 0; }
    .content-metiers .metier .description {
      text-align: justify; }
    .content-metiers .metier .logo {
      max-height: 150px;
      max-width: 200px; }
    .content-metiers .metier .photo {
      position: absolute;
      top: 10px;
      right: 10px;
      max-width: 100%; }
      .content-metiers .metier .photo img {
        height: 350px; }

.content {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .content::after {
    clear: both;
    content: "";
    display: table; }
  .content .liste {
    margin: 30px 0 0 0;
    text-align: center; }
    .content .liste iframe {
      display: block;
      margin: 50px auto 50px auto; }
    .content .liste i {
      font-size: 30pt;
      display: block; }
  .content .details {
    text-align: center; }

.content {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .content::after {
    clear: both;
    content: "";
    display: table; }
  .content .assos {
    width: 100%;
    max-width: 1203px; }
  .content .organigramme td:first-of-type {
    width: 250px;
    font-weight: 800; }

.content {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .content::after {
    clear: both;
    content: "";
    display: table; }
  .content .charte li {
    padding: 10px 0 10px 0; }

.content {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .content::after {
    clear: both;
    content: "";
    display: table; }
  .content .contact {
    width: 500px;
    margin: auto;
    text-align: center; }
    .content .contact td:first-of-type {
      width: 200px; }
    .content .contact input, .content .contact textarea {
      width: 100%; }
    .content .contact textarea {
      height: 200px; }
    .content .contact .infoMessage {
      color: green;
      font-weight: 800; }

.content {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .content::after {
    clear: both;
    content: "";
    display: table; }
  .content .galerie {
    text-align: center;
    width: 100%; }

.content p.center {
  text-align: center !important; }
