.content {

  @include outer-container;

  .contact{
    width:500px;
    margin:auto;
    text-align:center;
    td:first-of-type {
      width:200px;
    }
    input, textarea {
      width:100%;
    }
    textarea {
      height:200px;
    }
    .infoMessage {
      color:green;
      font-weight: 800;
    }
  }
}