.content {

  @include outer-container;

  .liste {
    margin:30px 0 0 0;
    text-align:center;

    iframe {
      display: block;
      margin: 50px auto 50px auto;
    }

    i {
      font-size: 30pt;
      display: block;
    }
  }

  .details {
    text-align: center;
  }
}