.content {
  

  @include outer-container;

  .assos {
    width:100%;
    max-width:1203px;
  }

  .organigramme {
    
    
    td:first-of-type {
      width : 250px;
      font-weight: 800;
    }
  }

}