html, body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  font-family: 'cabinregular', 'sans-serif';
  font-weight: 300;
  font-size: 14pt;
}

$darkblue : #334246;
$orange: #FF7B3F;

h1 {
  font-weight: 400;
  font-size: 2.2em;
  padding: 25px 0 25px 0;
  font-family: 'phitradesign_inkregular', 'sans-serif';
  color:$orange;
}
h2 {
  font-weight: 300;
  font-family: 'phitradesign_inkregular', 'sans-serif';
  font-size: 1.5em;
}

@font-face {
    font-family: 'phitradesign_inkregular';
    src: url('../fonts/phitradesign_ink-webfont.woff2') format('woff2'),
         url('../fonts/phitradesign_ink-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cabinregular';
    src: url('../fonts/cabin-regular-webfont.woff2') format('woff2'),
         url('../fonts/cabin-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}