.header {

  .logo {
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding : 0;

    .logo-child {
      flex-grow:2;
      max-width:500px;
      height:auto;
      img {
        width:100%;
      }
    }
    width:100%;
  }
  
  .frise { 
    max-height:302px;
    width:100%;
    display:flex;
    justify-content:center;
    background-color: #4D5150;
    img {      
      max-width:1920px;
      width:100%;
      max-height:302px;
    }
  }

  .text {
    display:flex;
    flex-direction:column;
  }
 
}

.menu {
  height : 60px;
  background-color: #4d5150; 
  border-bottom: 2px solid $orange;

  a {
    color : white;
    text-decoration: none;
    padding:18px;
    &:hover {
      background-color: $orange;
    }
  }

  ul {
    margin:0;
    padding:0;
    list-style:none;
    height:60px;
    text-align: center;
  }
  li {
    cursor: pointer;
    display: inline;
    color:white;
    line-height:60px;
    height:100%;
    .active {
      background-color: $orange;
    }
  }
}

$footer_height: 35px;

.content { 
  width:100%;
  max-width:90% !important;
  padding:0 50px 0 250px; 
  margin:50px auto 50px auto;
  background-repeat: repeat-y;

  .tract {
    text-align: center;
    img {
      width: 100%;
      max-width: 650px;
    }
  }

  h1, h2 {
    text-align: center;
  }
  p {
    text-align: justify;
  }
  &:after {
    content: "";
    display: block;
  }
  
  table {    
    width:100%;
    & > * {
      text-align:center;
    }
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height:$footer_height;
  background-color: #334246;
  border-top: 2px solid #FF7B3F;
  color:white;
  font-size: 0.8em;
  line-height: $footer_height;
  text-align: center;
}