.content-metiers{

  @include outer-container;
  padding:0 50px 0 50px; 

  .photos {
    table {
      width:90%;
      text-align: center;
      margin: auto;
    }
    text-align: center;
    img {
      max-width:250px;
    }
  }

  .metiers {
    text-align:center;
    margin: 50px auto 0px auto;
    padding-bottom:80px;
    width:100%;
    cursor: pointer;
    a{
      color:black;
      text-decoration: none;
      &:hover {
        color:white;
      }
    }
    td:hover {
      background-color: $orange;
    }

   img {
      height:80px;
    }
  }

  .metier {
    position:relative;
    border:1px solid $darkblue;
    padding:20px;
    margin-bottom:20px;

    h1,h2 {
      text-align: left;
      margin:0;
    }
    h3 {
      margin:10px 0 5px 0;
    }

    .description {
      text-align: justify;
    }

    .logo {
      max-height:150px;
      max-width:200px;
    }

    .photo{
      position:absolute;
      top:10px;
      right:10px;
      max-width:100%;

      img {
        height:350px;
      }
    }
  }

}