.metier 
        .photo        
            a(href='img/photos/azur.png', data-lightbox="gcb", data-title="Marc SIMIAN")
                img(src="img/photos/azur.png")
        h1 AZUR systeme solaire
        img(src="img/metiers/analyser/azur.jpg").logo
        p.contact
            a(href="http://www.azur-systeme-solaire.fr", target="_new") www.azur-système-solaire.fr <br/>
            | 04 93 77 81 29 <br>
            | 25, bd Emmanuel Rouquier<br/>
            | 06130 Grasse<br/>
        p.contact
            | Marc Simian<br/>
            a(href="mailto:contact@azur-systeme-solaire.fr")  contact@azur-systeme-solaire.fr <br/>
            | 06 08 87 68 07<br/>

        p.description.
            Installateur système solaire<br>
            Conseils, audits, études autoconsommation - Services administratifs complets, poses et installations<br>
            Solaire photovoltaïques : SUN POWER, pompes à Chaleur (AIR/EAU), Chauffages bois et ballons Thermodynamique