.metier
        .photo
            a(href='img/photos/bioazur.png', data-lightbox="bio", data-title="Pierre MACARIO et Amaral FERRAIRA")
                img(src="img/photos/bioazur.png")
        h1 Bio Azur Construction 
        p.contact
            a(href="http://www.bioazurconstruction.com", target="_new") www.bioazurconstruction.com <br/>
            | 04 22 17 02 60<br/>
            | 152, route de Grasse<br/>
            | 06400 Cannes<br/>
        p.contact
            | Pierre Macario<br/>
            a(href="mailto:pierre.macario@bioazurconstruction.com") pierre.macario@bioazurconstruction.com <br/>
            | 06 11 84 21 50
        p.description.
            Constructeurs bois : <br>
            Habitat bioclimatique : -Accompagnement accès terrains - Architecture <br>
            et design - Gestion de projet – Construction
        .photos
            table
                tr
                    td
                        img(src="img/mini/bioazur1.jpg")
                    td
                        img(src="img/mini/bioazur2.jpg")
                    td
                        img(src="img/mini/bioazur3.jpg")