.metier
    .photo
        a(href='img/photos/boisbrut.png', data-lightbox="boisbrut", data-title="Nicolas Monjauze")
            img(src="img/photos/boisbrut.png")
    h1 Bois brut
    img(src="img/metiers/construire/bois.jpg").logo
    p.contact
        a(href="http://www.boisbrut.fr", target="_new") www.boisbrut.fr <br/>
        | 04 94 70 60 93
        | 725,chemin du Bois de Maraval<br/>
        | 83210 Sollies-Pont<br/>
    p.contact
        | Nicolas Monjauze<br/>
        a(href="mailto:contact@boisbrut.fr") contact@boisbrut.fr <br/>
        | 06 05 18 05 45<br/>
    p.description.
        Constructeur Bois, Charpentier, Couvreur (zinguerie, isolation)
    .photos
        table
            tr
                td
                    img(src="img/mini/boisbrut1.jpg")
                td
                    img(src="img/mini/boisbrut2.jpg")
    