.metier
    .photo
        a(href='img/photos/ceb.png', data-lightbox="ceb", data-title="Laurent & Valéry ALZINA")
            img(src="img/photos/ceb.png")
    h1 CEB
    img(src="img/metiers/equiper/cebterrassement.png")
    p.contact
        a(href="http://www.terrassement-draguignan.fr/") www.terrassement-draguignan.fr <br/>
        | Draguignan(83) <br>
    p.contact
        a(href="mailto:valery@ceb83.fr") valery@ceb83.fr <br/>
        | Valery ALZINA<br/>
        | 06 09 95 53 29<br/>
        a(href="mailto:laurent@ceb83.fr") laurent@ceb83.fr <br/>
        | Laurent ALZINA<br/>
        | 06 25 24 44 31<br/>
    p.description.
        Terrassier<br>
        Terrassement : démolition, VRD, fondation<br>
        Maçonnerie béton : Coulage fondation et premier plancher<br>
        Construire : Murs en pierre et en banch<br>
    .photos
        table
            tr
                td
                    img(src="img/metiers/equiper/3/mini1.jpg")
                td
                    img(src="img/metiers/equiper/3/mini2.jpg")
                td
                    img(src="img/metiers/equiper/3/mini3.jpg")