.metier
        .photo
            a(href='img/photos/couleurnature.png', data-lightbox="couleurnature", data-title="Mary & Philippe BURBAUD")
                img(src="img/photos/couleurnature.png")
        h1 Couleur Nature
        .logo
            img(src="img/metiers/paysager/couleurnature.jpg")
        p.contact
            a(href="http://www.couleur-nature-piscine.com/", target="_new") http://www.couleur-nature-piscine.com/<br/>
            | 04 94 43 06 68<br/>
            |La Gazrde Freinet (83)
        p.contact
            | Mary & Philippe Burbaud<br/>
            a(href="mailto:couleur-nature@wanadoo.fr") couleur-nature@wanadoo.fr<br/>
            | 06 32 82 65 86<br/>
            
        p.description.
            Paysagiste<br>
            Piscines naturelles - Aménagement paysager - Assainissement phytoépuration - Terrasse bois - Toit végétalisé
        .photos
            table
                tr
                    td
                        img(src="img/mini/couleurnature1.jpg")
                    td
                        img(src="img/mini/couleurnature2.jpg")
                    td
                        img(src="img/mini/couleurnature3.jpg")