.metier
        .photo
            a(href='img/photos/damon.png', data-lightbox="damon", data-title="Henri DAMON")
                img(src="img/photos/damon.png")
        h1 CHARPENTE DAMON
        img(src="img/metiers/construire/chaprentdamon.png").logo
        p.contact
            a(href="http://charpentedamon.fr/", target="_new") charpentedamon.fr/ <br/>
            | 09 53 69 59 23<br/>
            | 990, route de Montferrat<br/>
            | 83300 DRAGUIGNAN<br/>
        p.contact
            | Henri DAMON<br/>
            a(href="mailto:info@charpentedamon.fr") info@charpentedamon.fr <br/>
            | 06 63 92 59 78
            
        p.description.
            Charpentier : Charpente (Structure et isolation) - Couverture - Zinguerie
        .photos
            table
                tr
                    td
                        img(src="img/mini/damon1.jpg")
                    td
                        img(src="img/mini/damon2.jpg")
                    td
                        img(src="img/mini/damon3.jpg")