.metier
        .photo
            a(href='img/photos/dbchanvre.png', data-lightbox="dbchanvre", data-title="Daniel Bayol")
                img(src="img/photos/dbchanvre.png")
        h1 DB Chanvre
        img(src="img/metiers/analyser/dbchanvre.jpg").logo
        p.contact
            a(href="http://www.db-chanvre.com", target="_new") www.db-chanvre.com<br>
            | Chemin de la Futaie<br/>
            | 83550	Vidauban<br/>
        p
            | Daniel BAYOL<br/>
            a(href="mailto:dbayol@orange.fr") dbayol@orange.fr<br/>
            | 06 14 40 43 79<br/>    
        p.description.
            Bureau d’étude en Maitrise d'œuvre : <br> Conception Ingénierie, Réalisation et Formation pour la Construction / Rénovation Ecologique en <br>
            Béton de Chanvre et Terre crue dans le Var
        .photos
            table
                tr
                    td
                        img(src="img/mini/dbchanvre1.jpg")
                    td
                        img(src="img/mini/dbchanvre2.jpg")
                    td
                        img(src="img/mini/dbchanvre3.jpg")