.metier
    .photo
        a(href='img/photos/decksud.png', data-lightbox="decksud", data-title="Finn JOHANSSEN")
            img(src="img/photos/decksud.png")
    h1 DECK SUD
    p.contact
        a(href="http://www.decksud.com", target="_new") www.decksud.com<br>    
        | 04 94 40 99 43<br>
        | Chemin de la Tuilière<br>
        | Les Adrets de l’Estérel (83)<br>
    p.contact
        | Finn & Caroline JOHANSSEN <br/>
        a(href="mailto:carojohansen@wanadoo.fr") carojohansen@wanadoo.fr <br/>
        | 06 81 83 86 93 <br/>
    p.description.
        Charpentier : <br>
        Terrasses bois – Extensions - Abris multifonctions (cabanons, local technique) - Pergolas, design extérieur