.metier
        .photo       
            a(href='img/photos/eauriginelle.png', data-lightbox="eauriginelle", data-title="Marie Bruyant et Thibault Geluyckens")
                img(src="img/photos/eauriginelle.png")
        h1 Eauriginelle
        img(src="img/metiers/equiper/eauriginelle.jpg").logo
        p.contact            
            a(href="http://www.eauriginelle.com", target="_new") www.eauriginelle.com
            | 83510 St Antonin du Var<br/>
        p.contact
            | Marie Bruyant et Thibault Geluyckens<br/>
            a(href="mailto:marie.eauriginelle@gmail.com") marie.eauriginelle@gmail.com<br/>
            a(href="mailto:contact@eauriginelle.com") contact@eauriginelle.com <br/>
            | 06 75 05 16 13<br/>
        p.description.
            Installateur Traitements de l'eau<br>
            Fabriquant/installateur de système de filtration d'eau boisson et maison : Fontaine 5 ( boisson, cuisson, rinçage des légumes), les robinets de puisage, les accessoires de raccordement, la fontaine osmose mobile,<br>
            Source 5(anti tartre et filtration simple pour toute la maison)
        .photos
            table
                tr
                    td
                        img(src="img/mini/e1.jpg")
                    td
                        img(src="img/mini/e2.jpg")
                    td
                        img(src="img/mini/e3.jpg")
                    td
                        img(src="img/mini/e4.jpg")
        
            