.metier
        .photo
            a(href='img/photos/ecosystem.png', data-lightbox="ecosystem", data-title="Cédric SAY")
                img(src="img/photos/ecosystem.png")
        h1 ECOSYSTEM
        img(src="img/metiers/analyser/ecosystem.jpg").logo
        p.contact
            a(href="http://www.ecosystemfrance.com", target="_new") www.ecosystemfrance.com
            | 04.94.70.60.93 <br/>
            | 84 Bd des Martyrs de la Résistance<br/>
            | 83300 DRAGUIGNAN<br/>
        p.contact
            | Cédric SAY <br>
            a(href="mailto:ecosystem@ecosystemfrance.fr") ecosystem@ecosystemfrance.fr<br/>
            | 06 88 34 71 04<br/>
        p.description.
            Bureau Etude Assainissement et thermique du bâtiment<br/>
            Secrétaire & assistante : Karine Guelfucci<br/>
            Eco'System cabinet d'ingénierie et bureau d'études en environnement, réalise des études spécifiques dans les domaines suivants :<br/>
            - Bureau d'études de sol (assainissement non collectif, hydrologie, hydrogéologie, traitement d'effluent polluant ...). Contact Cédric SAY<br/>
            - Bureau d'études thermique (BBC, RT 2012, BEPOS, label Effinergie+, Thermographie infrarouge, étude thermique dynamique, maisons passives, infiltrométrie, etc.).<br/>
            - Bureau d'études en environnement (audit énergétique, suivie des consommations, diagnostiques environnemental, études d'impacts, missions d'assistance à maîtrise d'ouvrage ...).
