.metier
    .photo
        a(href='img/photos/eder.png', data-lightbox="eder", data-title="Mickael JOYCE")
            img(src="img/photos/eder.png")
    h1 EDER énergie
    p.contact
        | 83400 Hyères<br/>
    p.contact
        | Michael JOYCE<br/>
        a(href="mailto:ederenergies@orange.fr", target="_new") ederenergies@orange.fr <br/>
        | 06 77 64 24 41<br/>
    p.description.
        Maçonnerie Générale<br><br>
        Maçonnerie - Isolation extérieur - Brique mono-mur, Fermacell
