.metier
        .photo        
            a(href='img/photos/energeole.png', data-lightbox="gcb", data-title="Cyril MULLER")
                img(src="img/photos/energeole.png")
        h1 énerg'Éole
        img(src="img/metiers/analyser/energeole.jpg").logo
        p.contact
            a(href="http://www.energeole.fr", target="_new") www.energeole.fr<br>
            | 04 89 79 04 55<br/>
            | 83160 LA VALETTE<br/>
        p.contact
            | Cyril MULLER<br/>
            a(href="mailto:cyril.muller@energeole.fr") cyril.muller@energeole.fr<br/>            
            | 06 69 29 33 51
        p.description.
            Expert Thermicien<br>
            Etanchéité à l'air – Infiltrométrie - Audits énergétiques - Attestation de conformité RT2012 – Thermographie

        .photos
            table
                tr
                    td
                        img(src="img/metiers/analyser/3/mini1.jpg")
                    td
                        img(src="img/metiers/analyser/3/mini2.jpg")
                    td
                        img(src="img/metiers/analyser/3/mini3.jpg")