.metier
    .photo
        a(href='img/photos/entrepierre.png', data-lightbox="entre", data-title="Dominique Brosseau")
            img(src="img/photos/entrepierre.png")
    h1 Entre Pierre et Bois
    img(src="img/metiers/construire/entre.png").logo
    p.contact
        a(href="http://www.lovelytoilettes.com", target="_new") www.lovelytoilettes.com <br/>
        | 83100 Toulon<br/>
    p.contact
        | Dominique Brosseau<br/>
        a(href="mailto:entrepierreetbois@gmail.com") entrepierreetbois@gmail.com <br/>
        | 06 78 16 03 97<br/>
    p.description.
        Installateur Toilettes sèches<br>
        2 pôles d'activité :<br>
        &nbsp;&nbsp;-Eco-rénovation (maçonnerie, aménagement intérieur, travaux d'accessibilité)<br>
        &nbsp;&nbsp;-Toilettes sèches (fabrication, location et vente)<br>
    .photos
        table
            tr
                td
                    img(src="img/mini/ep1.jpg")
                td
                    img(src="img/mini/ep2.jpg")
                td
                    img(src="img/mini/ep3.jpg")