.metier
        .photo(style='right:-50px;')       
            a(href='img/photos/exe.png', data-lightbox="exe", data-title="Serge & Emile LIEVREMONT, Olivier LOUBRY")
                img(src="img/photos/exe.png")
        h1 EXE BOIS
        img(src="img/metiers/construire/exe.jpg").logo
        p.contact
            a(href="http://exe-bois.com/", target="_new") exe-bois.com <br/>
            | 207 route de Pourrières<br/>
            | 13150 TRETS<br/>
        p.contact
            | Serge LIEVREMONT, Emile LIEVREMONT, Olivier<br/>
            a(href="mailto:exe-bois@gmail.com") exe-bois@gmail.com <br/>
            | 06 23 60 27 24<br/>
        p.description.
            Constructeurs bois : <br>
            Ecoconstruction bois : Maisons, bâtiments tertiaires, extensions, clos couvert isolés ou tous corps d’états

        .photos
            table
                tr
                td
                    img(src="img/mini/exe1.jpg")
                td
                    img(src="img/mini/exe2.jpg")
                td
                    img(src="img/mini/exe3.jpg")