.metier
        .photo        
            a(href='img/photos/gcbconseils.png', data-lightbox="gcb", data-title="Philippe BOUCHAUD")
                img(src="img/photos/gcbconseils.png")
        h1 GCB Conseils
        img(src="img/metiers/analyser/gcbconseils.jpg").logo
        p.contact
            a(href="http://www.geobiologie-pb.com", target="_new") www.geobiologie-pb.com<br>
            | 83490 LE MUY <br/>
            | 04 26 03 17 28<br/>
            
        p.contact
            | Philippe BOUCHAUD<br>            
            a(href="mailto:philippe.bouchaud@yahoo.fr") philippe.bouchaud@yahoo.fr<br/>
            | 06 15 21 18 74
        p.description.
           Expert Géobiologue<br>
            Expertises géobiologiques et électromagnétiques - Aide à la conception d’un habitat biotique<br>
            Stages et Formations - Livres et conférences<br>
            Etudes géobiologiques de terrain, avant et après achat / Etudes géobiologiques de construction avant rénovation / Etudes électromagnétiques. 
            L'objectif de ces études consiste à déterminer les forces et les faiblesses d'un terrain ou d'un bâti existant, 
            pour en tirer le meilleur parti, en termes de bien-être et de santé.<br>
            Il faut être conscient qu'il n'existe que peu d'obligations légales dans ce domaine car un impact sanitaire est toujours très difficile à évaluer.
        .photos
            table
                tr
                    td
                        img(src="img/metiers/analyser/1/mini1.png")
                    td
                        img(src="img/metiers/analyser/1/mini2.png")
                    td
                        img(src="img/metiers/analyser/1/mini3.png")