.metier
        .photo        
            a(href='img/photos/homeecoconsult.png', data-lightbox="gcb", data-title="Arnaud LE GALL")
                img(src="img/photos/homeecoconsult.png")
        h1 Home-écoconsult
        p.contact
            a(href="http://www.home-ecoconsult.com", target="_new") www.home-ecoconsult.com<br>
            | 83550	La Garde<br/>
        p.contact            
            | Arnaud LE GALL<br>
            a(href="mailto:alegal@home-ecoconsult.com") alegal@home-ecoconsult.com<br/>
            | 06 24 19 43 37<br/>
        p.description.
            Expert Thermicien<br>
            Etudes thermiques : chauffage, ventilation, climatisation (CVC°) - Audit énergétique - Qualité<br>
             environnementale