.metier
        .photo        
            a(href='img/photos/ingeconseil.png', data-lightbox="gcb", data-title="Béatrice Sicard")
                img(src="img/photos/ingeconseil.png")
        h1 Ingé Conseil
        img(src="img/metiers/analyser/ingeconseil.jpg").logo
        p.contact
            | 5, place sainte luce <br/>
            | 06800	Cagnes sur mer<br/>
        p.contact
            | Béatrice SICARD        
            | 06 68 77 76 14<br/>
            a(href="mailto:ingeconseilcamo@gmail.com") ingeconseilcamo@gmail.com<br/>
        p.description.
            Ingénieur structure<br>
            Bureau d'étude béton armé, bois – Expertise - Maitrise d’œuvre Ou suivi de chantier 
        .photos
            table
                tr
                    td
                        img(src="img/mini/inge1.jpg")
                    td
                        img(src="img/mini/inge2.jpg")
                    td
                        img(src="img/mini/inge3.jpg")