.metier
        .photo        
            a(href='img/photos/jctsolaire.png', data-lightbox="gcb", data-title="Christophe JACQUOT")
                img(src="img/photos/jctsolaire.png")
        h1 JCT Solaire
        img(src="img/metiers/equiper/jctsolaire.jpg").logo
        p.contact
            a(href="http://www.jct-solaire-var.fr/") www.jct-solaire-var.fr<br/>
            | 83170 CAMPS LA SOURCE<br/>
        p.contact
            | Christophe JACQUOT<br/>
            a(href="mailto:jctsolaire@orange.fr") jctsolaire@orange.fr <br/>
            | 06 75 13 58 58
        p.description.
            Installateur système solaire<br>
            Photovoltaïque : site isolé, études autoconsommation, dépannage et installation, grande toiture

        .photos
            table
                tr
                    td
                        img(src="img/metiers/equiper/1/mini1.jpg")
                    td
                        img(src="img/metiers/equiper/1/mini2.jpg")