.metier
    .photo
        a(href='img/photos/lumierematiere.png', data-lightbox="lm", data-title="Stéphanie Goutte")
            img(src="img/photos/lumierematiere.png")
    h1 Lumière et Matière
    img(src="img/metiers/analyser/lumiere.jpg").logo
    h2 Design d'espace
    h3 Stéphanie Goutte
    p.contact
        a(href="http://www.facebook.com/LumiereetMatiere", target="_new") www.facebook.com/LumiereetMatiere
        | Galerie Marc Lecomte-Durouil <br/>
        | 47, rue Lamalgue "Le Mourillon" <br/>
        | 83000	Toulon<br/>
    p.contact
        | Stéphanie GOUTTE<br>
        a(href="mailto:stephaniegoutte.lm@gmail.com") stephaniegoutte.lm@gmail.com<br/>
        | 06 24 21 05 72<br/>
    p.description.
        Atelier de Designer d’Espace:<br> 
        Analyse et Conception d’aménagements d’espaces: Intérieur ou Extérieur, Evénementiel ou durable, <br>
        Paysagisme, Pierre-sèche, terre crue et bois, Design et Communication
    .photos
        table
            tr
                td
                    img(src="img/mini/lm1.jpg")
                td
                    img(src="img/mini/lm2.jpg")
                td
                    img(src="img/mini/lm3.jpg")
