.metier
    .photo
        a(href='img/photos/materrebio.png', data-lightbox="materrebio", data-title="Silvio BERTE-LANGEREAU")
            img(src="img/photos/materrebio.png")
    h1 Ma terre BIO
    img(src="img/metiers/materrebio.jpg").logo
    p.contact
        a(href="http://www.materrebio.net", target="_new") www.materrebio.net <br/>
        | 214,rue Alain Bajac - ZA de la terre du Fort<br/>
        | 84120 Pertuis<br/>
    p.contact
        | Jean-François Doucet <br/>
        a(href="mailto:materrebio@hotmail.com") materrebio@hotmail.com <br/>
        | 06 78 33 66 25<br/>
    p.description.
        Fournisseurs de matériaux écologiques<br>
        Isolant bio-sourcés (bois, chanvres, lièges…) - Peintures et enduits naturels (Chaux, huiles et résines végétales, argiles et terres)<br>
        - Panneaux gypse-cellulose (Fermacell) - Pare- pluie & freine- vapeur
