.metier
        .photo
            a(href='img/photos/munier.png', data-lightbox="munier", data-title="Béatrice MUNIER")
                img(src="img/photos/munier.png")            
        h1 MUNIER
        img(src="img/metiers/concevoir/munier.jpg").logo      
        p.description            
            a(href="http://www.architecte-ecologie-munier.com", target="_new") www.architecte-ecologie-munier.com<br>         
        p            
            | 09 50 50 86 38<br>
            | Quartier Barbarin<br/>
            | 83890 Besse/Issole<br/>
        p.contact
            | Béatrice MUNIER<br>
            a(href="mailto:beamunier@free.fr") beamunier@free.fr <br/>
            | 06 82 94 08 04<br/>   
        p.description.
            Architecte en écoconstruction : Permis de construire, Chantiers neufs, Rénovation…
        .photos
            table
                tr
                    td
                        img(src="img/metiers/concevoir/2/mini1.jpg")
                    td
                        img(src="img/metiers/concevoir/2/mini2.jpg")
                    td
                        img(src="img/metiers/concevoir/2/mini3.jpg")