.metier
    .photo        
        a(href='img/photos/oeuvriers.png', data-lightbox="oeuvriers", data-title="Bernard Sevrain")
            img(src="img/photos/oeuvriers.png")
    h1 Les oeuvriers d'antan
    p.contact
        a(href="http://www.les-oeuvriers-d-antan.fr", target="_new") www.les-oeuvriers-d-antan.fr <br/>
        | 04 42 04 07 24<br/>
        | 13360 Roquevaire<br/>
    p.contact
        | Bernard Sevrain<br/>
        a(href="mailto:bernard.sevrain@gmail.com") bernard.sevrain@gmail.com <br/>
        | 06 64 76 01 69
    p.description.
        Maçonnerie Générale<br>
        Maçonnerie - Taille de pierre - Projection de chanvre – Isolation - Enduit de chaux -  ITE, ITI, RGE
    .photos
        table
            tr
                td
                    img(src="img/mini/oeuvriers1.jpg")