.metier
    .photo
        a(href='img/photos/ombrebleues.png', data-lightbox="ombrebleues", data-title="Silvio BERTE-LANGEREAU")
            img(src="img/photos/ombrebleues.png")
    h1 Ombres bleues
    p.contact
        a(href="http://www.atelier-des-ombres-bleues.com", target="_new") www.atelier-des-ombres-bleues.com<br>    
        | 83720 Trans en Provence<br/>
    p.contact 
        | Silvio BERTE-LANGEREAU
        a(href="mailto:ombrebleues@yahoo.fr") ombrebleues@yahoo.fr<br/>  
        | 06 10 20 13 15
    p.description.
        Décorateur intérieur<br> <br>
        Décoration artistique : Fresques, enduits chaux et terre-argiles, badigeons, peintures écologiques…<br>
    .photos
        table
            tr
                td
                    img(src="img/mini/ombrebleues1.jpg")
                td
                    img(src="img/mini/ombrebleues2.jpg")
                td
                    img(src="img/mini/ombrebleues3.jpg")


                    