.metier
        .photo
            a(href='img/photos/technopieux.png', data-lightbox="techno", data-title="Nicolas PARMENTIER")
                img(src="img/photos/technopieux.png")
        h1 Technopieux
        img(src="img/metiers/construire/techno.png").logo
        p.contact
            a(href="http://www.technopieux.fr", target="_new") www.technopieux.fr <br/>
            | 14 rue Fauchier<br/>
            | 13100 Aix en Provence<br/>
        p.contact
            | Nicolas Parmentier<br/>            
            a(href="mailto:nicolas.parmentier@technopieux.fr") nicolas.parmentier@technopieux.fr <br/>
            | 06 62 13 46 43<br/>
        p.description.
            Installateur Fondations vissées<br>
            Fondations sur pieux métalliques vissés : Villa (construction, extension), Ouvrage léger (abris piscine, terrasses…)<br>
            , Ouvrage lourds (immeuble, hangars, bat commerciaux) , Signalétiques, Stabilisations d’ouvrage<br>
        .photos
            table
                tr
                    td
                        img(src="img/mini/technopieux1.jpg")
                    td
                        img(src="img/mini/technopieux2.jpg")
                    td
                        img(src="img/mini/technopieux3.jpg")