.metier
    .photo
        a(href='img/photos/toitbois.png', data-lightbox="toitetbois", data-title="Jérôme LASCH")
            img(src="img/photos/toitbois.png")
    h1 TOIT et BOIS
    p.contact
        a(href="mailto:info@toitetbois.fr") info@toitetbois.fr <br/>
        | Grasse (06)<br>
    p.contact
        | Jérôme Lasch <br/>
        a(href="mailto:Jerome.lasch@wanadoo.fr") Jerome.lasch@wanadoo.fr<br/>  
        | 06 70 29 72 52<br/>
    p.description.
        Constructeurs bois :<br> 
        Maison ossature bois – Bioclimatique – Charpente – Couverture - Terrasses bois

        
