.metier
        .photo
            a(href='img/photos/trihab.png', data-lightbox="trihab", data-title="Pierre PRALUS et Bruno BAZIRE")
                img(src="img/photos/trihab.png")            
        h1 Trihab
        img(src="img/metiers/concevoir/trihab.jpg").logo        
        p.description
            a(href="http://trihab.blogspot.com", target="_new") trihab.blogspot.com <br/>
            a(href="http://www.trihab.com", target="_new") www.trihab.com            
        p            
            | 04 94 84 38 36<br>
            | 744, chemin du Pré Claux<br> 
            | 83440 SEILLANS<br>
        p.contact
            | Bruno BAZIRE - 06 88 05 72 09<br/>
            a(href="mailto:bazire.b@trihab.com") bazire.b@trihab.com <br/>
            | Pierre PRALUS - 06 08 58 80 48<br/>
            a(href="mailto:pralus.pierre@trihab.com") pralus.pierre@trihab.com <br/>   
        p.description.
            Agence d'architecture bioclimatique et écoconstruction
        .photos
            table
                tr
                    td
                        img(src="img/metiers/concevoir/1/mini1.jpg")
                    td
                        img(src="img/metiers/concevoir/1/mini2.jpg")
                    td
                        img(src="img/metiers/concevoir/1/mini3.jpg")