include ../includes/banner

.content
    h1 Rejoignez-nous! Adhérez !

    .chapeau.
        Pour intégrer le réseau, il suffit de rencontrer les membres lors de ces rassemblements publics ou lors de ses réunions ouvertes.<br/>
        Ainsi, vous pouvez postuler par connaissance de l'un des membres.<br/><br/>
        Merci de télécharger les documents ci-dessous pour initier votre inscription:
    a(href="charte.html").
        - La charte EcoBatissonS<br/>
    a(target='_new', href="https://dl.dropboxusercontent.com/u/1476249/EcoBatissonS%20dossier%20Public%20du%20site%20web/Demande%20d%27adh%C3%A9sion%202015.pdf").
        - La demande d'adhésion<br/>
    a(target='_new', href="https://dl.dropboxusercontent.com/u/1476249/EcoBatissonS%20dossier%20Public%20du%20site%20web/LIVRET%20d%27ACCUEIL%20EBS%202015.pdf").
        - Le livret d'accueil<br/><br/>

    .chapeau.
        Envoie de la demande par courrier à :<br/>
        ECOBATISSONS<br/>
        744 chemin du Pré Claux 83440 SEILLANS
    .text
        | Toute admission doit faire l'objet d'un agrément de la commission "Adhésions"
        | selon la procédure inscrite dans le
        a(target='_new', href="https://dl.dropboxusercontent.com/u/1476249/EcoBatissonS%20dossier%20Public%20du%20site%20web/LIVRET%20d%27ACCUEIL%20EBS%202015.pdf")  Réglement intérieur
        |  EcoBatissonS.

    h2 Catégories d'adhérents
    h3 Membres actifs

    .text
        | Agissent pour le développement de nos valeurs.
        | Composés principalement de professionnels en activité ou retraités.
        | C'est la seule catégorie qui nécessite d'être parrainé par un membre du conseil d'administration,
        | afin de conserver l'état d'esprit et les valeurs de l'association.<br/><br/>
        | Cotisation annuelle = 240 euros (au pro-rata temporis).<br/><br/>
        | Merci de remplir la
        a(target='_new', href="https://dl.dropboxusercontent.com/u/1476249/EcoBatissonS%20dossier%20Public%20du%20site%20web/Demande%20d%27adh%C3%A9sion%202015.pdf")  demande d'adhésion PRO et Porteur de projets
        |  et la version Word de la
        a(target='_new', href="https://dl.dropboxusercontent.com/u/1476249/EcoBatissonS%20dossier%20Public%20du%20site%20web/Demande%20d%27adh%C3%A9sion%202015%20-%20FICHE%20de%20RENSEIGNEMENT%20word.doc")  fiche de renseignement.


    h3 Porteurs de projets

    .text
        | Viennent pour bénéficier des connaissances d'EcoBatissonS.<br/>
        | Composés de tous porteurs de projets, publics ou privés.<br/><br/>
        | Cotisation annuelle = 40 euros.<br/><br/>
        | Merci de remplir la
        a(target='_new', href="https://dl.dropboxusercontent.com/u/1476249/EcoBatissonS%20dossier%20Public%20du%20site%20web/Demande%20d%27adh%C3%A9sion%202015.pdf")  demande d'adhésion PRO et Porteur de projets
        |  et la version Word de la
        a(target='_new', href="https://dl.dropboxusercontent.com/u/1476249/EcoBatissonS%20dossier%20Public%20du%20site%20web/Demande%20d%27adh%C3%A9sion%202015%20-%20FICHE%20de%20RENSEIGNEMENT%20word.doc")  fiche de renseignement.


    h3 Sympathisants
    .text
        | Apportent leur soutien, humain ou financier, au développement de l'association.<br/>
        | Merci d'inscrire sur papier libre ou par courriel vos coordonnées et vos motivations<br/><br/>
        | Cotisation annuelle = 20 euros.<br/><br/>
        | Merci de remplir la
        a(target='_new', href="https://dl.dropboxusercontent.com/u/1476249/EcoBatissonS%20dossier%20Public%20du%20site%20web/Demande%20d%27adh%C3%A9sion%202015%20-%20FICHE%20de%20RENSEIGNEMENT%20sympathisant%20word.doc")  demande d'adhésion sympathisant.

    h2 Dons et mécenats
    .text.
        Les adhérents de toutes catégories, ainsi que des mécènes extérieurs,
        peuvent contribuer au fonctionnement de EcoBatissonS en faisant des dons.
        Ceux-ci ouvrent droit à un <b>crédit d'impôt de 66% de la somme versée pour les particuliers et 60% pour les sociétés.</b>

include ../includes/footer

