include ../includes/banner

.content
    h1 Annuaire EcoBatissonS

    .liste
        i.fa.fa-file-pdf-o
        a(target='_new', href="./annuaire_ebs2016.pdf") Téléchargez ici la liste des professionnels EcoBatissonS
        iframe(src="https://www.google.com/maps/d/embed?mid=zhTL2-XoLZxs.k9VffMEYUDxc&hl=fr",width="640", height="480")

    .details
        a(href="https://maps.google.com/maps/ms?msa=0&msid=211644981769307272323.0004da2c16abc4b008c00&hl=fr&ie=UTF8&ll=43.445282,6.300424&spn=0.662531,0.953223&t=h&source=embed")
            | Afficher sur une carte plus grande
include ../includes/footer

