include ../includes/banner

.content(style="background-image: url('img/frise.jpg')")
    h1 L'association
    
    h2 Organigramme

    .chapeau.
        EcoBatissonS est une association loi 1901, déclarée en préfecture du Var le 05 février 2010.<br/>
        La dernière assemblée générale ordinaire s'est tenue le 13 avril 2013 et a permis l'élection du nouveau conseil d'administration et du nouveau bureau :

    h2 Membres du Conseil d'Administration
    p (Conformément aux statuts, le CA doit être composé de 3 à 15 membres, élus par l'assemblée générale ordinaire annuelle)

    img.assos(src='img/association/association1.png')  

    h2 Membres du bureau
    p (Conformément aux statuts, le bureau doit être composé de 3 à 6 membres, élus par le CA)
    
    img.assos(src='img/association/association2.png')  

include ../includes/footer

