include ../includes/banner

.content
    .tract
        img(src="img/charte.jpg")

    h1 Charte des membres professionnels de l'association EcoBatissonS

    h3 Les membres du réseau s’engagent à :

    ol.charte
        li.
            Fournir des informations et des prestations de qualité, dans le respect de l’environnement, de l'homme et de la santé ;
        li.
            Utiliser prioritairement des matériaux sains, écologiques et locaux issus le plus possible des circuits courts, ainsi que des équipements respectueux de l’environnement et de la santé ;
        li.
            Réduire au maximum l’impact environnemental de ses pratiques professionnelles mesurable en énergie grise (valeur contenue en tonne équivalent CO2) ;
        li.
            Posséder au sein de son entreprise, les compétences professionnelles nécessaires à l’exécution des travaux prévus dans les règles de l’art, acquises par la formation initiale ou continue et par une pratique confirmée, être à jour de ses obligations légales et disposer des garanties légales couvrant explicitement l’ensemble des activités et travaux réalisés ;
        li.
            Pratiquer des prix justes concernant les produits et les services facturés ;
        li.
            Accepter la réalisation d’un questionnaire de satisfaction auprès du client, à l’issue d’une prestation ;
        li.
            Partager ses savoirs et expériences au sein du réseau de professionnels et dans le cadre de formations ; éventuellement, accueillir sur chantier des membres qui en font la demande et apporter son aide sur un chantier à un membre du réseau qui en fait la demande ;
        li.
            Contribuer, équitablement, au fonctionnement d’EcoBatissonS (participation financière, matérielle, intellectuelle, solidaire...selon ses possibilités) ;
        li.
            Promouvoir EcoBatissonS, ses valeurs et son réseau, à travers ses activités professionnelles ou individuelles.

    h2 Ces engagements constituent l’identité fondamentale du réseau EcoBatissonS. Ils sont gages de confiance et de respect au sein de l'association.
    .tract
        img(src="img/charte2.jpg")

include ../includes/footer

