include includes/banner
script(src='https://www.google.com/recaptcha/api.js')
:php session_start()
.content

    h1 Coordonnées
    h4 Adresse postale
    p
        | Association EcoBatissonS <br/>
        | 144 chemin du Pré Claux<br/>
        | 83440 SEILLANS

    h4 Accueil projet
    p
        | 07 68 78 71 61<br/>
        | Dites EcoBatissonS

    h4 Email
    p
        a(href="mailto:contact@ecobatissons.fr") contact@ecobatissons.fr

    h2 Contactez-nous avec le formulaire ci-dessous

    form(action="traitement_contact.php", method="post")
        table.contact
            tr
                td(colspan="2").infoMessage
                    :php if(isset($_SESSION['SendMailMessage'])){echo $_SESSION['SendMailMessage'];}
            tr
                td Nom
                td
                    input(type="text", name="nom")
            tr
                td Prénom
                td
                    input(type="text", name="prenom")
            tr
                td Adresse email
                td
                    input(type="text", name="mail")
            tr
                td Téléphone
                td
                    input(type="text", name="phone")
            tr
                td Ville
                td
                    input(type="text", name="ville")
            tr
                td(colspan="2") Votre demande
            tr
                td(colspan="2")
                    textarea(name="message")
            tr
                td(colspan="2")
                    .g-recaptcha(data-sitekey="6LdSrAkUAAAAALt6_u3U9AR7PYSYCFnei83klxeg")
            tr
                td(colspan="2")
                    button(type="submit") Envoyer

    h4 Important
    p
        | Notre réseau d'artisans a pour vocation de vous mettre en relation avec les
        | professionnels de l'eco-construction proches de chez vous. Renseignez ici
        | une brêve description de votre projet que les animateurs EcoBatissonS
        | transmettront aux membres concernés.
    p
        | Vous pouvez également nous contacter individuellement en utilisant la carte du réseau : <br/>
        a(href="annuaire.html") Voir la carte<br/>
        a(href="annuaire.html") Télécharger notre annuaire pro<br/>
        | <br/>
        | Merci et au plaisir de vous rencontrer.


include includes/footer

