include ../includes/banner

.content

    h1 Photos du réseau EcoBatissonS

    .galerie
        a(data-flickr-embed='true', href='https://www.flickr.com/photos/95128517@N03/albums/72157633299640292', title='EcoBatissonS - Trihab')
            img(src='https://c5.staticflickr.com/9/8382/8670247900_64829cddca_c.jpg', width='800', height='206', alt='EcoBatissonS - Trihab')
script(async='', src='//embedr.flickr.com/assets/client-code.js', charset='utf-8')




include ../includes/footer

