include ../includes/banner

#fb-root
script.
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));


.content(style="background-image: url('img/frise.jpg')")

    h1.
        L'Association de sensibilisation à L'écoconstruction** en PACA

    div(style='text-align:center')
        a(href='img/plaquette.jpg', target='_new', style='text-align:center')        
            img(src='img/plaquette.jpg', style='max-height:500px')
    h1.
        ** L'Eco-construction, c'est Quoi ?
    p.
        <b>C’est  bâtir / rénover / aménager</b> des lieux de vie, à la fois, sains, sobres et écologiques;
    p.
        <b>C’est  un ensemble de principes de construction :</b> diagnostics préalables, bioclimatisme, approche globale (sociale, environnementale, technique…)
    p.
        <b>C’est LE choix de constructions écolo-économes,</b> non polluantes, non toxiques…

    h2.
        L'Eco-construction, c'est 
        
    p.center.
        SAIN, ECONOME, ECO-LOGIQUE, BIOCLIMATIQUE
        
    h1 En ce moment à voir...
    
    div(style="text-align:center")
        .fb-page(data-href='https://www.facebook.com/ecobatissons', data-tabs='timeline', data-width='600', data-height='500', data-small-header='false', data-adapt-container-width='true', data-hide-cover='true', data-show-facepile='true')
        blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/ecobatissons')

    h1 Les EcoBatissonS, c'est quoi? C'est Qui?
    
    p
        | <b>C’est une Association qui regroupe des porteurs de projet et des professionnels qui :</b>
        ul
            li pratiquent, veulent pratiquer et/ou soutiennent l’éco-construction et le développement des matériaux bio-sourcés;
            li résident dans la région PACA;
            li œuvrent dans le sens d’une économie plus sociale et solidaire;

    h1 Comment ?
    
    p. 
        | <b>En agissant collectivement pour démocratiser et faciliter l’éco-construction :</b>
        ul
            li Avec des actions et des outils pédagogiques de sensibilisation, d’information et d’éducation à l’éco-construction: stages, conférences, salons…etc;
            li Avec un réseau d’échanges et d’entraide, entre membres du réseau;
            li Avec un Annuaire de professionnels locaux qualifiés et militants: formateurs, conseillers, scientifiques, concepteurs, artisans…etc;
            li Avec un espace d’innovation et d’expérimentation, ouvert à tous.
    
    p.center.
        " Pour que chaque porteur de projet, particulier ou professionnel soit sensibilisé et accompagné dans une approche globale de l’écoconstruction ."
        
    h1 Suivez-nous sur Facebook
    
    p.center
        a(href="https://www.facebook.com/ecobatissons")
            img(src='img/fb.png')
        br
        | Venez visitez notre page, un clic J'aime pour rester informé !   
        
    div(style="text-align:center")
        .fb-like(data-href='https://www.facebook.com/ecobatissons', data-layout='button_count', data-action='like', data-size='small', data-show-faces='false', data-share='false')
            
    h1 Les EcoBatissonS en "Actions", c'est
    
    table
        tr
            td(style="width:25%") 
                b 1.
            td(style="width:25%") 
                b 2.
            td(style="width:25%") 
                b 3.
            td(style="width:25%") 
                b 4.
            
        tr
            td(style="width:25%") 
                b INFORMER
            td(style="width:25%") 
                b REFERENCER
            td(style="width:25%") 
                b ACCOMPAGNER
            td(style="width:25%") 
                b SOUTENIR
        tr
            td Les porteurs de projet
            td Des professionnels aux compétences complémentaires
            td Et valoriser les professionnels
            td L'éco-construction
        tr
            td Particuliers, Entreprises, Collectivités, avec un projet de rénovation ou bien de construction. Nous sommes là pour vous apporter une réponse écologique en lien avec notre métier.
            td Savoir à qui faire appel, en 6 étapes d'un chantier d'éco-construction : ANALYSER CONCEVOIR CONSTRUIRE RENOVER ÉQUIPER DÉCORER PAYSAGER
            td Tous corps de métiers du bâtiment, adhérents de la charte EcoBatissonS et engagés dans une démarche sincère, coopérative et solidaire.
            td Aux projets de recherche et d'innovation dans le domaine de l'éco-construction. Mais aussi par nos participation à des salons, événements ou conférences pour transmettre notre savoir selon les cas.
        
        tr
            td(colspan="2") 
                h2 L'Esprit EcoBatissonS
            td(colspan="2") &nbsp;
        tr
            td(colspan="2", style="text-align:justify")
                | La spécificité d’EcoBatissonS est d’imaginer, tester et accompagner des solutions nouvelles en éco-construction, alors qu'elles ne sont pas encore réglementées, donc difficiles à intégrer par des filières plus officielles. EcoBatissons peut être considéré comme un laboratoire d’innovation et d’expérimentation, oeuvrant pour l’évolution de l’éco-construction en général et du savoir-faire de ses adhérents en particulier. C'est cet état d'esprit qui est demandé aux membres actifs et constitue un des principaux critères d'agrément à une nouvelle adhésion.
            td(colspan="2") 
                | "Nous vous guidons dans votre projet d'éco-construction !"
            
            
    h1 Rejoignez-nous ! Adhérez !
                
            
            
include ../includes/footer

