include ../includes/banner
.content-metiers

    include ../includes/metiers

    h1 Paysager
    h2 Agrémenter votre maison d'un beau paysage avec un jardin, une piscine naturelle et/ou d'un assainissement par les plantes.

    
    include ../includes/entreprises/lumierematiere
    include ../includes/entreprises/couleurnature
    include ../includes/entreprises/ceb

                        
include ../includes/footer
