include ../includes/banner
.content-metiers

    include ../includes/metiers

    h1 Equiper
    h2 Equiper votre maison d'un système performant et économe en énergie, sans oublier les matériaux isolants.

    include ../includes/entreprises/materrebio
    include ../includes/entreprises/technopieux
    include ../includes/entreprises/azur
    include ../includes/entreprises/jctsolaire
    include ../includes/entreprises/eauriginelle
    include ../includes/entreprises/entrepierreetbois
    include ../includes/entreprises/couleurnature
    
include ../includes/footer
