include ../includes/banner
.content-metiers

    include ../includes/metiers

    h1 Décorer
    h2 Décorer votre maison
    
    include ../includes/entreprises/decksud
    include ../includes/entreprises/lumierematiere
    include ../includes/entreprises/materrebio
    include ../includes/entreprises/ombresbleues


include ../includes/footer
