include ../includes/banner
.content-metiers

    include ../includes/metiers

    h1 Construire
    h2 Bâtir votre maison tout en sachant intégrer des matériaux bio-sourcés, des énergies renouvelables et contribuer à respecter la conception bioclimatique.

    
    include ../includes/entreprises/dbchanvre
    include ../includes/entreprises/boisbrut
    include ../includes/entreprises/damon
    include ../includes/entreprises/decksud
    include ../includes/entreprises/bioazur
    include ../includes/entreprises/exe
    include ../includes/entreprises/toitetbois
    include ../includes/entreprises/technopieux
    include ../includes/entreprises/eder
    include ../includes/entreprises/ceb

include ../includes/footer
