include ../includes/banner

.content-metiers

    include ../includes/metiers

    h1 Concevoir
    h2 Concevoir une maison ou une extension en intégrant des principes d'architecture bioclimatique.

    include ../includes/entreprises/trihab
    include ../includes/entreprises/munier
    include ../includes/entreprises/dbchanvre
    include ../includes/entreprises/damon
    include ../includes/entreprises/gcbconseil
    include ../includes/entreprises/energeole
    include ../includes/entreprises/homeecoconsult
    include ../includes/entreprises/ingeconseil
    include ../includes/entreprises/couleurnature
    include ../includes/entreprises/ombresbleues
    include ../includes/entreprises/cesttoutvert.jade

include ../includes/footer

