include header.jade
.header
    .logo
        .logo-child
            img(src='img/logo.jpg')
        .text 
            img(src='img/ensemble.jpg', style='max-width:306px')
            p(style="color:#008ece; font-weight:600").
                Accueil projet - 07 68 78 71 61 - contact@ecobatissons.fr
        a(href="https://www.facebook.com/ecobatissons/", target='_new')
            img(src='img/fb.png')
    .frise
            img(src='img/banner.jpg')
        

include menu.jade
