doctype html
html
    head(lang='en')
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Eco-batissons
        link(rel='stylesheet', href='css/main.css') 
        link(rel='stylesheet', href='css/libs/lightbox.css') 
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
        link(href="https://fonts.googleapis.com/css?family=Libre+Franklin|Great+Vibes",rel="stylesheet")

        script(src='http://livejs.com/live.js')
    body
