.menu
    ul
        li
            a(href="index.html") Accueil
        li
            a(href="metiers.html") Métiers
        li
            a(href="annuaire.html") Annuaire
        li
            a(href="association.html") Association
        li.adherer
            a(href="adherer.html") ADHERER !
        li
            a(href="charte.html") Charte
        li
            a(href="galerie.html") Galerie
        li
            a(href="contact.php") Contact