table.metiers
    tr
        td
            a(href="metiers_analyser.html")
                img(src='img/metiers/pictos/analyser.png')
                | <br/>Analyser
        td
            a(href="metiers_concevoir.html")
                img(src='img/metiers/pictos/concevoir.png')
                | <br/>Concevoir
        td
            a(href="metiers_construire.html")
                img(src='img/metiers/pictos/construire.png')
                | <br/>Construire
        td
            a(href="metiers_renover.html")
                img(src='img/metiers/pictos/renover.png')
                | <br/>Rénover
        td
            a(href="metiers_equiper.html")
                img(src='img/metiers/pictos/equiper.png')
                | <br/>Equiper
        td
            a(href="metiers_decorer.html")
                img(src='img/metiers/pictos/decorer.png')
                | <br/>Décorer
        td
            a(href="metiers_paysager.html")
                img(src='img/metiers/pictos/paysager.png')
                | <br/>Paysager